:root{
  --main-radius:5px;
  --main-padding:5px;
}

.App{
  font-size: 18px;
  font-family: arial;
  font-weight: bold;
  color: rgb(100, 5, 5);
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  grid-template-rows: 0.5fr 11fr 1fr;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-gap: 0.1rem;
 }

  #header{
    grid-area: header;
    background: rgb(241,87,4);
    background: linear-gradient(90deg, rgba(241,87,4,1) 0%, rgba(255,179,0,1) 100%);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
    font-size: 18px;
    font-family: arial;
    font-weight: bold;
    color: rgb(100, 5, 5);
  }
  .Vernagir{
    margin-top: 20px;
    margin-bottom: 0;
  }
  .VernagriTak{
    margin-top: 0px;
    margin-bottom: 0;
  }
  .VernagriTakLast{
    margin-top: 0px;
    margin-bottom: 10;
  }

  #main{
    grid-area: main;
    background: rgb(241,87,4);
    background: linear-gradient(90deg, rgba(241,87,4,0.8) 0%, rgba(255,179,0,0.8) 100%);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    
  }

  #container{

    grid-template-columns: 1fr 1fr;
    display: grid;
    justify-items: center;
    justify-content: space-between;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
  }
  container> #lab {  
    justify-self: start;
    font-size: 18px;
    font-family: arial;
    font-weight: bold;
    color:rgb(100, 5, 5);
  }
  .App > #name, #countryname, #statename, #localityname, #organizationname, #email, #organizationunitname, #commonname, #selectmenu {
    width: 300px;
    height: 30px;
    background-color:white;
    font-size: 18px;
    font-family: arial;
    font-weight: bold;
    border:2px solid rgb(100, 5, 5);
    border-radius: 7px; 
    color:rgb(100, 5, 5);
    justify-self: end;
  }
  #keyTxt, #csrTxt, #certTxt, #tprint, #serial, #receiveraddr, #abi, #contaddr, #canvas, #canvassvg  { 

    background-color:white;
    font-size: 12px;
    font-family: arial;
    font-weight:bold ;
    border:2px solid rgb(100, 5, 5);
    border-radius: 7px; 
    color:rgb(100, 5, 5);
      
  }

  #button, #textsave, #metam,  #trans, #contaddr, #receiveraddr, #setfing, #getfing, #clearAll { 

    background-color:white;
    font-size: 15px;
    font-family: arial;
    font-weight: bold;
    border:2px solid rgb(100, 5, 5);
    border-radius: 7px; 
    color:rgb(100, 5, 5); 
    width: 350px;
    height: auto;
   
  }
  
  container> .reactivbut {
    place-self: center;
  }

  #metacont{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4 fr 1fr 0.4fr;
    grid-template-areas: 
      "clearAll clearAll clearAll"
      "metagrvacq metagrvacq metagrvacq"
      "metam trans receiveraddr";
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
      padding-left: var(--main-padding);
      padding-right: var(--main-padding);
    
   }    

   #clearAll {
    grid-area: clearAll;   
    place-self: center;
  }
  
  #metagrvacq {
    grid-area:metagrvacq;   
    text-align: center;
  } 
  
  #metam{
    grid-area:metam;
    
  }
  #trans{
    grid-area: trans;
    justify-self: end;
    
  }
  #receiveraddr{
    grid-area: receiveraddr;
    justify-self: end;
       
  }

  #fingercont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.4fr 0.4fr;
    grid-template-areas: 
      "finggrvacq1 finggrvacq1"
      "setfing getfing"
      "lastFingPrint lastFingPrint";
      grid-gap: 0.1rem;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
      padding-left: var(--main-padding);
      padding-right: var(--main-padding);
   }    
  
  #finggrvacq1 {
    grid-area:finggrvacq1;   
    text-align:center;     
    padding-bottom: 0;
  } 
   
  #setfing{ 
    grid-area:setfing;   
    justify-self: start;
  }
  
  #getfing{   
    grid-area:getfing; 
    justify-self: end;
  }

  #lastFingPrint{
    grid-area:lastFingPrint;
    justify-self: center;     
  }
  
  #canvassvg  {
    display: inline-block;
  }
  
  #canvassvg, #canvas  {
  height: 500px;
  width: 500px;
  min-height: 470px;
  min-width: 470px;
  padding: 0px;
  overflow: hidden;
  
  }
  #canvas  {
      height: 470px;
      width: 470px;
      padding: 15px;
    }
    
  #footer{
    grid-area: footer;
    background: rgb(241,87,4);
    background: linear-gradient(90deg, rgba(241,87,4,1) 0%, rgba(255,179,0,1) 100%);
    border-radius: var(--main-radius);
    border-radius: var(--main-radius);
    border-top: var(--main-padding);
    text-align: center;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
    color: rgb(100, 5, 5);
  }
  .footer1{
    font-size: 17px;
  }

#button:hover{
  font-size: 19px;
  color: rgb(56, 4, 4);
}

#textsave:hover{
  font-size: 19px;
  color: rgb(56, 4, 4);
}

#button:active {
  background-color: #bc48a5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#textsave:active {
  background-color: #bc48a5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#metam:hover{
  font-size: 19px;
  color: rgb(56, 4, 4);
}

#trans:hover{
  font-size: 19px;
  color: rgb(56, 4, 4);
}
#setfing:hover{
  font-size: 19px;
  color: rgb(56, 4, 4);
}
#getfing:hover{
  font-size: 19px;
  color: rgb(56, 4, 4);
}

#metam:active {
  background-color: #bc48a5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#trans:active {
  background-color: #bc48a5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#setfing:active {
  background-color: #bc48a5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#getfing:active {
  background-color: #bc48a5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media only screen and (max-width: 550px){
  .App{
    font-size: 14px;
    font-family: arial;
    font-weight: bold;
    color: rgb(100, 5, 5);
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 11fr 1fr;
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer";
      grid-gap: 0.1rem;
   }
  #header{
    grid-area: header;
  }
  .Vernagir{
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .VernagriTak{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0;
  }
  .VernagriTakLast{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10;
  }
  #main{
    grid-area: main;
  }

  #container> #lab {  
    font-size: 16px;
  }
  
  .App > #name, #countryname, #statename, #localityname, #organizationname, #email, #organizationunitname, #commonname, #selectmenu {
    width: 200px;
    height: 25px;
    background-color:white;
    font-size: 14px;
    font-family: arial;
    font-weight: bold;
    border:2px solid rgb(100, 5, 5);
    border-radius: 7px; 
    color:rgb(100, 5, 5);
    justify-self: end;
    
  }
  
  #keyTxt, #csrTxt, #certTxt, #tprint, #serial, #receiveraddr, #abi, #contaddr, #canvas, #canvassvg  { 
    font-size: 11px; 
             
  }
  #canvassvg, #canvas  {
    height: 50px;
    width: 50px;
    min-height: 470px;
    min-width: 470px;
    padding: 0px;
    overflow: hidden;
  }
  #canvassvg{
    padding-left: 0px;
    padding-top: 0px;
    text-align: center;
  }
  
  #footer{
    grid-area: footer;
  }
 
  #metacont{  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:0.4fr 1fr 0.4fr 0.4fr 0.5fr;
    grid-template-areas: 
      "clearAll"
      "metagrvacq"
      "metam"
      "trans"
      "receiveraddr"
      ;
      grid-gap: 0.1rem;
   }    
  
  #clearAll{
    grid-area: clearAll;
    text-align:center; 
  }
  
  #metagrvacq {
    grid-area:metagrvacq;   
    text-align:center; 
  } 
  
  #metam{
    grid-area:metam;
    justify-self:center; 
  }
  
  #receiveraddr{
    grid-area: receiveraddr;
    justify-self:center; 
    text-align:center; 
  }
  #trans{
    grid-area: trans;
    justify-self: center;
    
  }
   
  #fingercont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 0.2fr 0.4fr;
    grid-template-areas: 
      "finggrvacq1"
      "setfing"
      "getfing"
      "lastFingPrint";
      grid-gap: 0.1rem;
   }    
  
  #finggrvacq1 {
    grid-area:finggrvacq1;   
    text-align:center; 
  } 
  
  #setfing{ 
    grid-area:setfing;   
    justify-self: center;
  }
  
  #getfing{   
    grid-area:getfing; 
    justify-self: center;
  }

  #lastFingPrint{
    grid-area:lastFingPrint;
    justify-self: center; 
    font-size: smaller;
  } 
  .footer1{
    font-size: 12px;
  }
  
}
 



